# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  access_token_salt: \x16\xF8n\x80\x19mdY\xB4\xB2\xA0\xD8~\x02\xDDor?\x03\x83{Y\x11\xF9\x80\b\xD3\x9A{\xEF}\xC7\xD4\x05\xA6`\x8B\e\xA4y\x9A\xC9\x93W\x91;\xAF6B\f\x17\x91\xF3\xD1\x02u\x0E]\x16\xFEe\x163\xB5
  access_token_key: \xFA:T\xA7[\xE1w~\xB2>\x95\\\x12\xC0\xC2\xA2\xA1A\xF9\xC9\xB8\xB7\xEC-\xB7T\xE1s\xFEJXv\xD18>\xE7:\xB4\x81\x01\xC4n\xE6i\x7Fh\xF6\xEB\x0FN\x8C\xB2\x99\xA6\f\e\xD5+a\x9Dee\xFE\xF0
  secret_key_base: 40152eb9c303c01b3670bed225e1f855428136cb67ba05d27f6194c0531e38da1cbcd03c5abcb00f6fad096c64d17d3a54e17692a04f5ed753b233c58feb8ff6

test:
  domain_name: example.com 
  access_token_iv: \x16\xF8n\x80\x19mdY\xB4\xB2\xA0\xD8~\x02\xDDor?\x03\x83{Y\x11\xF9\x80\b\xD3\x9A{\xEF}\xC7\xD4\x05\xA6`\x8B\e\xA4y\x9A\xC9\x93W\x91;\xAF6B\f\x17\x91\xF3\xD1\x02u\x0E]\x16\xFEe\x163\xB5
  access_token_key: \xFA:T\xA7[\xE1w~\xB2>\x95\\\x12\xC0\xC2\xA2\xA1A\xF9\xC9\xB8\xB7\xEC-\xB7T\xE1s\xFEJXv\xD18>\xE7:\xB4\x81\x01\xC4n\xE6i\x7Fh\xF6\xEB\x0FN\x8C\xB2\x99\xA6\f\e\xD5+a\x9Dee\xFE\xF0
  secret_key_base: 88fe355d5a1219fb2bf226394934a7010e15b2785d69516bdf41145cded0202a012d812527080cfff391ada3fe2026b9bd61d4b55a62270b476a25ac0b9c1745

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
